# Created by https://www.gitignore.io/api/text,mdbook
# Edit at https://www.gitignore.io/?templates=text,mdbook

### MdBook ###
book


### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps

### Folders ###
node_modules/

# End of https://www.gitignore.io/api/text,mdbook
