<html>
  <head></head>
  <body>
    <h1>Add Post</h1>
    <form action="/news/addpost" method="POST">
      <input type="text" name="title" placeholder="Title" /><br />
      <input type="text" name="category" placeholder="Category" /><br />
      <textarea name="content"></textarea>
      <input type="submit" value="Add Post" />
    </form>
  </body>
</html>