

<form action="." method="POST" class="scoutform">
    <input type="text" name="scout_name" placeholder="Scout name"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="password" name="passwordagain" placeholder="password again"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="submit" value="save">    
</form>