
<form action="./add_footballer" method="POST" class="footballerform">
    <input type="text" name="forename" placeholder="forename"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="position" placeholder="position"><br>
    <input type="number" name="height" placeholder="height"><br>
    <input type="number" name="weight" placeholder="weight"><br>
    <input type="date" name="birth_date" placeholder="birth_date"><br>
    <input type="text" name="foot" placeholder="foot"><br>
    <input type="number" name="salary" placeholder="salary"><br>
    <input type="number" name="transfer_price" placeholder="transfer_price"><br>
    <input type="text" name="nationality" placeholder="nationality"><br>
    <input type="number" name="image_id" placeholder="image_id"><br>
    <input type="text" name="club_name" placeholder="club_name"><br>
    
    <input type="submit" value="save">    
</form>