<!DOCTYPE html>
<html>
<body>

<button onclick="myFunction()">See Tasks</button>

<form role="form" method="post">
    <input type="submit" value="Previous Tasks" class="createTaskPage_button_set_task">
    <input type="submit" value="Search Footballers" class="createTaskPage_button_set_task">
    <input type="submit" value="Edit Current Task Report" class="createTaskPage_button_set_task">
</form>
</body>
</html>